<html>
<head>
    <title> Curd home</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<style>
   .jumbotron {
       border:green solid 3px;
       padding: 20px;
       text-align: center;
    }
   a{
       margin-right: 30px;
       font-size: 30px;
       border:5px solid;
       border-radius: 20px;
       padding: 2px 5px;

   }
   h2{
       text-align: center;
       font-size: 40px;
   }
   body{
       background-color: blue;

   }
</style>
<body>
<h2 style="color: red" font-size="30 px">welcome to curd opration</h2>
<div class="jumbotron" >
    <a href="/create/" class="btn-success">Create</a>
    <a href="/update/" class="btn-success">Update</a>
    <a href="/retrieve/" class="btn-success">Retrieve</a>
    <a href="/delete/" class="btn-danger">Delete</a>
</div>
</body>
</html>